<!--
<style>
    .btn1 {
        background-color: #23b7e5;
        border: none;
        color: white;
        padding: 7px 9px;
        font-size: 16px;
        cursor: pointer;
        float: left;
        margin-top: 20px;
    }
</style>

<div class="wrapper">
    <aside class="aside">
        &lt;!&ndash; START Sidebar (left)&ndash;&gt;
        <div class="aside-inner" >
            <nav data-sidebar-anyclick-close="" class="sidebar">
                &lt;!&ndash; START sidebar nav&ndash;&gt;
                <ul class="nav" style="
    margin-top: 55px;>
                    &lt;!&ndash; START user info&ndash;&gt;
                    <li class="has-user-block">
                        <div id="user-block" class="">
                            &lt;!&ndash;<div class="item user-block">
                                &lt;!&ndash; User picture&ndash;&gt;
                                <div class="user-block-picture">
                                    <div class="user-block-status"> <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-circle-512.png" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle">
                                        <div class="circle circle-success circle-lg"></div>
                                    </div>
                                </div>
                                &lt;!&ndash; Name and Job&ndash;&gt;
                                <div class="user-block-info" ng-model="EmployeeList"> <span class="user-block-name">{{EmployeeList.FirstName}} {{EmployeeList.LastName}}</span> <span class="user-block-role">{{EmployeeList.Designation}}</span> </div>
                            </div>&ndash;&gt;
                        </div>
                    </li>
                    &lt;!&ndash; END user info&ndash;&gt;
                    &lt;!&ndash; Iterates over all sidebar items&ndash;&gt;
                    <li ng-if="userInfo.RoleId==5" ng-class="{active: state.current.name == 'home'} ">
                        <a ui-sref="home" title="Home" data-toggle="collapse">
                            <button type="button" class="btn btn-default">
                                <img src="assets/images/icons/home icon.png" alt="">
                            </button>&nbsp;&nbsp;&nbsp;Dashboard</a>

                    </li>

                    <li ng-if="userInfo.RoleId==5" ng-class="{active: state.current.name == 'skillmaster'} ">
                        <a ui-sref="skillmaster" title="Skill Category" data-toggle="collapse">
                            <button type="button" class="btn btn-default">
                              <img src="assets/images/icons/skill master.png" alt="">
                            </button>&nbsp;&nbsp;&nbsp;Skill Category List</a></li>
                    </li>

                    <li ng-if="userInfo.RoleId==5" ng-class="{active: state.current.name == 'statusmaster'} ">
                       <a ui-sref="statusmaster" title="Status Master" data-toggle="collapse"> <button type="button" class="btn btn-default">
                           <i class="fa fa-align-justify"></i>
                       </button>&nbsp;&nbsp;Status List</a>
                    </li>
                    <li ng-if="userInfo.RoleId==5" ng-class="{active: state.current.name == 'rolemaster'} ">
                        <a ui-sref="rolemaster" title="Role Master" data-toggle="collapse">
                            <button type="button" class="btn btn-default">
                                <img src="assets/images/icons/roles.png" alt="">
                            </button>&nbsp;&nbsp;&nbsp;Role List</a></li>

                    </li>
                    <li ng-if="userInfo.RoleId==5" ng-class="{active: state.current.name == 'bumaster'} ">
                        <a ui-sref="bumaster" title="Business Master" data-toggle="collapse">
                            <button type="button" class="btn btn-default">
                                <img src="assets/images/icons/businessunit.png" alt="">
                            </button>&nbsp;&nbsp;&nbsp;Business Unit List</a></li>
                    </li>
                </ul>
                &lt;!&ndash; END sidebar nav&ndash;&gt;
            </nav>
        </div>

        &lt;!&ndash; END Sidebar (left)&ndash;&gt;
    </aside>
</div>

-->
