<!-- <div class="">
BEGIN FOOTER -->
 <!-- <footer> <span>&copy; 2017 - IMSSPL</span> </footer>
END FOOTER
</div> -->
<!--
<div class="" style="text-align: right;margin-left: -34px; height:400px; background-color: #23b7e5; background-image: linear-gradient(180deg, #23b7e5 0, #51c6ea); width:100%; position: fixed;">

    <footer style="background-color: #23b7e5; text-align: center"> <p style="color:#fff;"> <span>&copy;</span> Copyright 2017-2018 <strong>IMSS(P) Ltd.</strong> All Rights Reserved.  TMS <strong>Version V 1.0.0</strong></p></footer>

</div>-->
