
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff;
        background-color: #061743;
    }
    .nav.nav-pills .active>a {
        background-color: #061743;
    }

    a:focus, a:hover {
        color: #202020;
        text-decoration: underline;
    }
    a:focus, a:hover {
        color: #202020;
        text-decoration: underline;
    }
    a:active, a:hover {
        outline: 0;
    }
    a {
        outline: none!important;
    }
    a {
        color: #40c0e8;
        text-decoration: none;
    }
    a {
        color: #40c0e8;
        text-decoration: none;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }


    #wrap {
        overflow: auto;
        height: 400px;


    }
    td {
        background-color: #fff;

    }
    .theadbackgroud{
        background: #ddd;
    }
</style>

<div class="col-lg-12">

     <div class="col-lg-12" style="margin-top: 5px;margin-left: 22px;">
       <!-- <a >
            &lt;!&ndash;<button class="btn btn-info pull-right MRTop" type="text" ng-click="showInputsArticleWithInput = !showInputsArticleWithInput"
                    ng-bind="showInputsArticleWithInput? 'Dashboard': 'Manage Employees'">
            </button>
            <button class="btn btn-info pull-right MRTop" ng-if="userinfodata.RoleId==5" style="margin-left: 1%;margin-right: 1%;"  ng-if="showInputsArticleWithInput = showInputsArticleWithInput" ng-click="allemployeeList()" title="Get from PCC Data"><i class="fa fa-database" aria-hidden="true"></i></button>
            </button>
            <button class="btn btn-info pull-right MRTop"  style="margin-left: 1%;margin-right: 1%;" data-toggle="modal" data-target="#FeedbackModal" title="Feedback"><i class="fa fa-comments-o" ></i></button>
            </button>&ndash;&gt;

            <button class="btn btn-info pull-right MRTop"  style="margin-left: 1%;margin-right: 1%;" ui-sref="home" title="Dashboard"><i class="fa fa-home"></i></button>
            </button>
            <button class="btn btn-info pull-right MRTop"  style="margin-left: 1%;margin-right: 1%;" ui-sref="statusmaster" title="Status Master"><i class="fa fa-street-view"></i></button>
            </button>
            <button class="btn btn-info pull-right MRTop"  style="margin-left: 1%;margin-right: 1%;" ui-sref="rolemaster" title="Role Master"><i class="fa fa-users"></i></button>
            </button>
            <button class="btn btn-info pull-right MRTop"  style="margin-left: 1%;margin-right: 1%;" ui-sref="bumaster" title="Business Unit Master"><i class="fa fa-institution"></i></button>
            </button>
        </a>
-->
          <ul class="nav nav-pills nav-justified">
           <li class="active"><a  ui-sref="skillmaster" data-toggle="pill"><i class="fa fa-desktop"></i>&nbsp;&nbsp;&nbsp;Skill Master</a></li>
           <li><a ui-sref="statusmaster"><i class="fa fa-street-view"></i>&nbsp;&nbsp;&nbsp;Status Master</a></li>
              <li><a ui-sref="bumaster" data-toggle="pill"><i class="fa fa-institution"></i>&nbsp;&nbsp;&nbsp;Business Unit Master</a></li>
           <li><a ui-sref="rolemaster"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;Role Master</a></li>
              <li><a ui-sref="home"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;Home</a></li>
       </ul>

    </div>

</div>


<div class="wrapper" >

<section style="
    margin-left: 0;
" >
<!-- Page content-->
<div class="content-wrapper"style="
    background: #f5f7fa;
">

<!-- <a type="button" class="pull-right btn btn-box-tool" style="color:white;"><img src="assets/images/icons/add.png" data-toggle="modal" data-target="#AddStatusModal" title="Add Skills" style="cursor:pointer;width: 30px;"></a> -->
<a data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        <img src="assets/images/icons/add.png" class="pull-right MRTop" data-toggle="tooltip" data-placement="top"
        title="Add Skill Category" data-original-title="Add Skill Category"></a>
<!--<h5 class="text-center">Skill Category Master</h5>-->
    <h5 class="text-center" style="font-size: 21px;color: black;margin-top: -4px;margin-left: 0px;">Skill Category Master Data</h5>
<div id="wrap">
<table id="" class="table  table-hover">
<thead class="theadbackgroud" style="background: #44c2e8;">
<tr>
<th style="
    color: white;
">No.</th>

<th style="
    color: white;
">Category Name</th>
<th style="
    color: white;
">Description</th>
<th style="
    color: white;
">Action</th>
</tr>
</thead>

<tbody>
<tr ng-repeat="category in filteredEmployee = (getCategoryList | filter : searchText)">
<td>{{$index+1}}</td>
<!--<td>{{category.CategoryId}}</td> -->
<td>{{category.CategoryName}}</td>
<td>{{category.Description}}</td>
<td>
<a href="" data-toggle="modal" title="View Sub skills"
data-target="#viewSubcategory" ng-click="viewSubCategory(category.CategoryName,category.CategoryId)"
data-whatever="@mdo">
<img src="assets/images/icons/view-01-128.png"
alt="view sub category">
</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""
data-toggle="modal" title="Edit Skill Category"
data-target="#exampleModaladd" data-whatever="@mdo">

<img src="assets/images/icons/edit icon.png"
data-toggle="tooltip" data-placement="top"
class="width_edit_icon" data-toggle="tooltip"
data-placement="top" ng-click="editcategory(category.CategoryId,category.CategoryName,category.Description)"
title="Edit Skill Category">&nbsp;</a>
    <!--<a href=""  ng-if="userinfodata.RoleId==5" title="Delete Category" ng-click="deleteCategory(category.CategoryId)"><img src="assets/images/icons/delete icon.png" class="width_edit_icon" style="margin-left: 12px;">
    </a>-->
</td>
</tr>
<tr ng-show="filteredEmployee.length == 0">
<td colspan="15" style="font-weight: bold;">No Data found</td>
</tr>
</tbody>
</table>
</div>
<!-- END table-responsive-->
<br on-swipe-down=""/>
<input type="text"  class="col-2 form-control" placeholder="Search" ng-model='searchText'>
<span class="input-group-btn"></span>
</div></div>
<div class="" style="text-align: center; margin-left: 1px;  background-color: #23b7e5; background-image: linear-gradient(180deg, #23b7e5 0, #51c6ea); height:65px;>

    <footer style="background-color: #23b7e5; text-align: center;"> <p style="color:#fff;"> <span>&copy;</span> Copyright 2017-2018 <strong>IMSS(P) Ltd.</strong> All Rights Reserved.  TMS <strong>Version V 1.0.1</strong></p></footer>

</div>
<!--Update cateory skills modal start-->
<div class="modal fade" id="exampleModaladd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header" style="background: #061743;color: white;text-align: center;">
    <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="float: right;">×</span></button>
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
<h4 class="modal-title" id="exampleModalLabel">Edit Skill Category</h4>
</div>
<div class="modal-body">
<form>
<div class="form-group">
<label for="recipient-name" class="control-label">Category Name*:</label>
<input type="text" class="form-control" ng-model="category.CategoryName" id="recipient-name"> </div>
<div class="form-group">
<label for="message-text" class="control-label">Description*:</label>
<textarea class="form-control" ng-model="category.Description" id="message-text"></textarea>
</div>
</form>
</div>
<div class="modal-footer" style="
    text-align: center;
">
<button type="button" class="mb-sm btn btn-primary btn-outline" ng-click="updateCategory()">Update</button>
<!--<button type="button" class="mb-sm btn btn-danger btn-outline" data-dismiss="modal" ng-clicl="Clear()">Cancel</button>-->
</div>
</div>
</div>
</div>
<!--Update cateory skills modal end-->
<!--Add category modal start-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header" style="background-color: #061743;color: #fafafa;text-align: center;">
    <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="float: right;">×</span></button>
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
<h4 class="modal-title" id="exampleModalLabel">Add Skill Category</h4>
</div>
<div class="modal-body">
<form>
<div class="form-group">
    <div class="row">
        <div class="col-lg-5">
            <label>Category Name*:</label>
        </div>
        <div class="col-lg-5">
            <input type="text" ng-model="CategoryName" class="form-control"></div></div></div>
<!--<label for="recipient-name" class="control-label">Category Name*:</label>-->
<!--<input type="text" ng-model="CategoryName" class="form-control" id="recipient-name"> </div>-->
<div class="form-group">
    <div class="row">
        <div class="col-lg-5">
            <label for="message-text" class="control-label">Description*:</label></div>
        <div class="col-lg-5">
<textarea class="form-control" ng-model="Description" id="message-text"></textarea>
        </div></div></div>
</form>
</div>
<div class="modal-footer"style="
    text-align: center;
">
<button type="submit" class="mb-sm btn btn-primary btn-outline" ng-click="AddCategory()">Add</button>
<button type="button" class="mb-sm btn btn-danger btn-outline" data-dismiss="modal" ng-click="Clear()">Cancel</button>
</div>
</div>
</div>
</div>
<!--Add category Modal Start-->

<!--View Sub Skills starts-->
<div class="modal fade" id="viewSubcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static"
data-keyboard="false">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">

<div class="modal-header" style="background:white; color:white;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
<a type="button" class="pull-right btn btn-box-tool" style="color:white;">
<img src="assets/images/icons/add.png" data-toggle="modal" data-target="#AddsubSkillModal"
title="Add Sub Category" style="cursor:pointer;">
</a>
<h4 class="modal-title" style="text-align: center;color: #03a6ff;" id="exampleModalLabel">Skill Category List for {{CategoryName}}</h4>
</div>

      <table class="table no-margin text-center">
          <thead>
          <tr style="background: #061743;">
              <th style="color: white; color: white;text-align: left;padding-left: 4%;">No.</th>
              <!--<th>Skill Id</th> -->
              <th style="color: white;text-align: left;">Skill Name</th>
              <th style="color: white;text-align: left;">Description</th>
              <th style="color: white;text-align: center;padding-left: 5%;text-align: left;">Action </th>
          </tr>
          </thead></table>

<div class="modal-body" style="
margin-top: -4%;
">
<div class="col-md-12">
<div class="box box-info ">
<div class="box-body EMS_PanelHeading">
<div class="table-responsive">
<!--<table class="table no-margin text-center">
<thead>
<tr style="background: #ebecec;">
<th>No.</th>
&lt;!&ndash;<th>Skill Id</th> &ndash;&gt;
<th>Skill Name</th>
<th>Description</th>
<th>Action </th>
</tr>
</thead>--><table class="table no-margin text-center" ng-if="getCategorySubList.length >0">
<tbody ng-repeat="sub in getCategorySubList">
<tr>
<td style="text-align: left;width: 10px;">{{$index+1}}</td>
<!--<td>{{sub.SkillId}}</td> -->
<td style="text-align: center;width: 186px;">{{sub.SkillName}}</td>
<td style="width: 401px;">{{sub.Description}}</td>
<td style="width: 218px;padding-left: 6%;">
<a href="" title="Edit Skills" ng-click="editSubcategory(sub.SkillId,sub.SkillName,sub.Description,sub.CategoryId)"
data-toggle="modal" data-target="#EditSkillModal"
data-whatever="@mdo">
<i class="fa fa-edit"></i>
</a>
    <!--<a href=""  ng-if="userinfodata.RoleId==5" title="Delete Skill Category" ng-click="deleteSubCategory(sub.SkillId)"><img src="assets/images/icons/delete icon.png" class="width_edit_icon" style="margin-left: 12px;">
    </a>-->
</td>
</tr>

</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<!--<button type="reset" class="mb-sm btn btn-danger btn-outline" data-dismiss="modal">Close</button>-->
</div>
</div>
</div>
</div>
<!--View Sub Skills end-->

<!--Add sub Skills category modal start-->
<div class="modal fade" id="AddsubSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header" style="background-color: #061743;color: white;text-align: center;">
<button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="float: right;">×</span></button>
<h4  class="modal-title" id="exampleModalLabel">Add Sub Skill ({{CategoryName}})</h4>
</div>
<div class="modal-body">


<div class="form-group">
<label>Category*:</label>
<input type="text" class="form-control" ng-model="CategoryName" readonly="">
</div>
    <form>
        <div class="form-group">
            <!--<label>Category*:</label>-->
            <input type="hidden" class="form-control" ng-model="CategoryID">
        </div>
<div class="form-group">
<label for="recipient-name" class="control-label">Skill Name*:</label>
<input type="text" ng-model="SkillName" class="form-control" id="recipient-name"> </div>
<div class="form-group">
<label for="message-text" class="control-label">Description*:</label>
<textarea class="form-control" id="textarea1" ng-model="Description" id="message-text"></textarea>
</div>
</form>
</div>
<div class="modal-footer text-center" style="
    text-align: center;
">
<button type="button" class="mb-sm btn btn-primary btn-outline" ng-click="addSubCategory()">Add</button>
<button type="button" class="mb-sm btn btn-danger btn-outline" data-dismiss="modal" ng-click="subCategoryModal()">Close</button>
</div>
</div>
</div>
</div>
<!--Add sub Skills category modal end-->


<!--update sub Skills modal start-->
<div class="modal fade" id="EditSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
<h4 class="modal-title" id="exampleModalLabel">Edit Sub Skill</h4>
</div>
<div class="modal-body">
<div class="col-md-12">
<div class="box box-info ">
<div class="box-body EMS_PanelHeading">
<form>

    <div class="form-group">
        <input type="hidden" class="form-control" ng-model="CategoryName">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" ng-model="sub.SkillId">
    </div>
<div class="form-group">
<lable>Skill Name*</lable>
<input type="text" class="form-control" ng-model="sub.SkillName">
</div>

<div class="form-group">
<lable>Description*</lable>
<textarea class="form-control" rows="5" ng-model="sub.Description"></textarea>
</div>
</form>
</div>
</div>
</div>

<div class="modal-footer text-center">
<button type="button" ng-click="updateSubCategory()" class="mb-sm btn btn-primary btn-outline">Update</button>
<button type="button" class="mb-sm btn btn-danger btn-outline " data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

<!--update sub Skills modal end-->
<script>
document.getElementById("wrap").addEventListener("scroll", function () {
var translate = "translate(0," + this.scrollTop + "px)";
this.querySelector("thead").style.transform = translate;
});

$("textarea").on('change paste keyup', function () {
    var currText = $(this).val();
    if (currText.length > 100) {
        var text = $(this).text();
        $(this).text(text.substr(0, 100));
        alert("You have reached the maximum character length 100");
        return false;
    } else if (currText.length < 100){
  return true;
    }
});

$("textarea1").on('change paste keyup', function () {
    var currText = $(this).val();
    if (currText.length > 100) {
        var text = $(this).text();
        $(this).text(text.substr(0, 100));
        alert("You have reached the maximum character length 100");
    }
});

</script>

